.App {
  text-align: center;

}
h1{}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin-left: 0px;
}

@media (max-width:900px){
*{
  
}

}
@media (min-width:1400px){
  .appd{
    position: absolute;
    height:100vh;
    width: 100vw;z-index: -111;
    background-color: black;
  }
}
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
